<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>658913964014-0ec26ni12dd293kmlacudf8qimgt6ldu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658913964014-0ec26ni12dd293kmlacudf8qimgt6ldu</string>
	<key>API_KEY</key>
	<string>AIzaSyAcv9l-xYkJzlTJW8z8Y6epsrg3xjWxJNY</string>
	<key>GCM_SENDER_ID</key>
	<string>658913964014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.strizhApp</string>
	<key>PROJECT_ID</key>
	<string>strizhapp-78ed2</string>
	<key>STORAGE_BUCKET</key>
	<string>strizhapp-78ed2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:658913964014:ios:f2ff15fa6aec5f2c</string>
	<key>DATABASE_URL</key>
	<string>https://strizhapp-78ed2.firebaseio.com</string>
</dict>
</plist>
